<a href="https://colab.research.google.com/github/nomo82/python/blob/main/Apply_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Vamos eliminar datos o columnas del DF con diferentes metodos
#Importar librerias

import pandas as pd
import numpy as np

In [2]:
#Conectar a Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#Traemos el archivo DF Jugadores
#Leer el archivo CSV palyers 20.csv
df_jugadores=pd.read_csv('/content/drive/MyDrive/Alexander Niño.lnk/2025/_Python/players_20.csv')
df_jugadores.set_index('short_name', inplace=True)
#Traemos las columnas que vamos
df_jugadores=df_jugadores[['player_url', 'long_name',	'age', 'dob',	'height_cm',	'weight_kg', 'nationality',	'club']]
df_jugadores

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...,...
Shao Shuai,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [6]:
#Con el metodo apply voy a calcular la raiz cuadrada de la columna edad "age"
df_jugadores['age'].apply(np.sqrt)

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [7]:
#Con el metodo apply voy a calcular la raiz cuadrada de la columna edad "age"
df_jugadores['age'].apply(np.square)

short_name
L. Messi             1024
Cristiano Ronaldo    1156
Neymar Jr             729
J. Oblak              676
E. Hazard             784
                     ...
Shao Shuai            484
Xiao Mingjie          484
Zhang Wei             361
Wang Haijian          324
Pan Ximing            676
Name: age, Length: 18278, dtype: int64

In [10]:
#Vamos a escribior euna función para calcular el IMC peso / estatura al cuadrado. Algo asi como kg /m2
def IMC(row):
    return row['weight_kg'] / ((row['height_cm'] / 100) ** 2)

In [11]:
#Ahora vamos a llamr la función
df_jugadores.apply(IMC, axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64