<a href="https://colab.research.google.com/github/nomo82/python/blob/main/Lambda_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#En este caso mezclaremos la funcioan lambda con el método apply
#La función lambda en python es una forma de escribir funciones menos robustas
import pandas as pd
import numpy as np

In [45]:
#Conectar a Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
#Traemos el mismo archivo
df_jugadores=pd.read_csv('/content/drive/MyDrive/Alexander Niño.lnk/2025/_Python/players_20.csv')
#Le defino el index
df_jugadores.set_index('short_name', inplace=True)
#Selecciono las columnas que voy a usar
df_jugadores= df_jugadores[['player_url','long_name', 'age',  'dob',  'height_cm',  'weight_kg',  'nationality',  'club']]
df_jugadores.head(5)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [47]:
#Las funciones normalmente se ven de la siguiente manera
def sumar(a, b):
  x=a+b
  return (x)

In [48]:
sumar(29,24)

53

In [49]:
from binascii import b2a_base64
def modulo(a,b):
  y=a%b
  return (y)

In [50]:
modulo(25,2)

1

In [51]:
#Vamos a ver como se hace las funciones usando lambda
#Primero se asigna el nombre luego asignamos el valor, luego introducimos los parametros, luego dos puntos y por ultimo el output
sumar_2=lambda a,b: a+b

In [52]:
sumar_2(39,39)

78

In [53]:
modulo_2=lambda a,b: a%b

In [54]:
modulo_2(48,2)

0

In [55]:
df_jugadores.head(3)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [56]:
#Ahora usemos a apply con lamba
#Vamosa a pasar los cm a mtros en la información de los jugadores
#En este caso si usamos apply no necesitamos poner el nombre de la función
df_jugadores['height_cm'].apply(lambda x:x/100)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [57]:
#Ahora vamos a determinar la edad en meses
df_jugadores['age']/12

short_name
L. Messi             2.666667
Cristiano Ronaldo    2.833333
Neymar Jr            2.250000
J. Oblak             2.166667
E. Hazard            2.333333
                       ...
Shao Shuai           1.833333
Xiao Mingjie         1.833333
Zhang Wei            1.583333
Wang Haijian         1.500000
Pan Ximing           2.166667
Name: age, Length: 18278, dtype: float64

In [58]:
#Ahora vamos a determinar de cm a m
df_jugadores['height_cm']/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [59]:
#Colocar los nombres en mayusculas
df_jugadores['long_name'] = df_jugadores['long_name'].apply(lambda x: x.upper())

In [60]:
#Hacerlo simple pero com mas memoriaseria asi
df_jugadores['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [61]:
#Tambien puedo usar landa para extraer poarte de fechas
#Primero dedemos garantizar que el dato fecha este en modo DATE
df_jugadores['dob']=pd.to_datetime(df_jugadores['dob'])

In [62]:
#Ahora soilo extraemos los años con la funcion lambda
df_jugadores['dob'].apply(lambda x:x.year)

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [63]:
#Ahora solo extraer los meses con la funcion lambda
df_jugadores['dob'].apply(lambda x: x.month_name())

short_name
L. Messi                 June
Cristiano Ronaldo    February
Neymar Jr            February
J. Oblak              January
E. Hazard             January
                       ...
Shao Shuai              March
Xiao Mingjie          January
Zhang Wei                 May
Wang Haijian           August
Pan Ximing            January
Name: dob, Length: 18278, dtype: object

In [67]:
#Índice de Masa Corporal (IMC) usando lambda en pandas. La fórmula es:
#Formula: 𝐼𝑀𝐶 = peso (kg) / altura (m)2
df_jugadores['IMC'] = df_jugadores.apply(lambda x:x['weight_kg'] / ((x['height_cm'] / 100) ** 2), axis=1)
df_jugadores

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,IMC
short_name,,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,LIONEL ANDRÉS MESSI CUCCITTINI,32,1987-06-24,170,72,Argentina,FC Barcelona,24.913495
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,CRISTIANO RONALDO DOS SANTOS AVEIRO,34,1985-02-05,187,83,Portugal,Juventus,23.735308
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,NEYMAR DA SILVA SANTOS JUNIOR,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,22.204082
J. Oblak,https://sofifa.com/player/200389/jan-oblak/20/...,JAN OBLAK,26,1993-01-07,188,87,Slovenia,Atlético Madrid,24.615211
E. Hazard,https://sofifa.com/player/183277/eden-hazard/2...,EDEN HAZARD,28,1991-01-07,175,74,Belgium,Real Madrid,24.163265
...,...,...,...,...,...,...,...,...,...
Shao Shuai,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,22.835010
Xiao Mingjie,https://sofifa.com/player/250995/mingjie-xiao/...,MINGJIE XIAO,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,21.066743
Zhang Wei,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,21.678807
Wang Haijian,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,21.621622
Pan Ximing,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,23.547881