In [5]:
import pandas as pd
import numpy as np

In [6]:
df_estudiantes=pd.read_csv('/content/drive/MyDrive/Alexander Niño.lnk/2024/_Phyton Curso/StudentsPerformance.csv')

In [7]:
#Operaciones en Columnas . Operar una columna numerica
df_estudiantes['reading score'].sum()

69169

In [8]:
#ejemplo 2
df_estudiantes['gender'].count()

1000

In [9]:
#Para Calcular el promedio de una columna usamos el metodo mean
df_estudiantes['reading score']. mean()

69.169

In [10]:
#para calcular la desviación standar de una columna, uso el metodo std
df_estudiantes['reading score'].std()

14.600191937252216

In [11]:
#Para ver los valores maximos de una columna uso el metodo max
df_estudiantes['reading score'].max()

100

In [12]:
#Para ver el valor minimo de una columna uso el metodo min
df_estudiantes['reading score'].min()

17

In [13]:
#Para ver las medidas de tendencia de una columna uso el metodop describe
df_estudiantes['reading score'].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [14]:
#Operaciones entre filas
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [15]:
#Vamos a usar o operar dos a mas columnas y guardar el resultado en una columna nueva
#Operaciones entre filas SUMA
df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['reading score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [18]:
#Crear una nueva columna TOTAL para dar comom resultante una columna calculada
df_estudiantes['Total']=df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['reading score']
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [19]:
#Calcular el promedio de las datos de esas personas
(df_estudiantes['Total'])/3

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: Total, Length: 1000, dtype: float64

In [20]:
#Guardar el resultante como variable
df_estudiantes['PROMEDIO']=(df_estudiantes['Total'])/3
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.000000
998,female,group D,some college,standard,completed,68,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [23]:
#Asiu formateo los datos para obtener solo dos decimales a toda la tabla
df_estudiantes.round(2)
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total,PROMEDIO
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.000000
998,female,group D,some college,standard,completed,68,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [24]:
#Ahora vamos a contar elementos por valor con el metodo len
len(df_estudiantes['gender'])

1000

In [25]:
#Para contar cada uino uso el metodo value.count
df_estudiantes['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [26]:
#Para contar la raza y los grupos etnicos
df_estudiantes['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [28]:
#Calcuilar el porcentaje de aprticipación por cada elemento
df_estudiantes['race/ethnicity'].value_counts(normalize=True)*100

race/ethnicity
group C    31.9
group D    26.2
group B    19.0
group E    14.0
group A     8.9
Name: proportion, dtype: float64